# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
myenv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Environment files
.env
*.env

# Build/output
dist/
build/
*.egg-info/